{% extends 'AppBundle:Layouts:layout-vertical.html.twig' %}

{% block bodyHeader %}
    {% include 'AppBundle:Layouts:_header-home.html.twig' %}
{% endblock %}

{% block content %}
    <article itemscope="itemscope"
             itemtype="http://schema.org/CreativeWork">
        <h1 class="entry-title" itemprop="headline">Modelo de política de cookies</h1>
        <div itemprop="text">
            <h3>Cookies</h3>
            <p>Utilizamos cookies para facilitar el uso de nuestra página web. Las cookies son pequeños ficheros
            de información que nos permiten comparar y entender cómo nuestros usuarios navegan a través de
            nuestra página web, y de esta manera poder mejorar consecuentemente el proceso de navegación.
            Las cookies que utilizamos no almacenan dato personal alguno, ni ningún tipo de información que
            pueda identificarle. En caso de no querer recibir cookies, por favor configure su navegador de
            Internet para que las borre del disco duro de su ordenador, las bloquee o le avise en caso de
            instalación de las mismas. Para continuar sin cambios en la configuración de las cookies,
            simplemente continúe en la página web.
            Puedes obtener más información sobre las cookies y su uso en www.aboutcookies.org.
            </p>


            <h3>Los tipos de cookies que utilizamos</h3>

            <ul style="text-align: justify;">
                <li><strong>Cookies estrictamente necesarias</strong>. Estas cookies son necesarias para el correcto uso de la página web, permitiendo el acceso a
                    secciones que cuentan con filtros de seguridad. Sin estas cookies, muchos de los servicios
                    disponibles no estarían operativos
                </li>
                <li><strong>Cookies de afiliación</strong>: como sitio web con enlaces de afiliación, este tipo de
                    cookies permite que la empresa de afiliación detecte que un cliente suyo procede de este sitio.
                </li>
                <li><strong>Redes sociales:</strong>&nbsp;Cada red social utiliza sus propias cookies para que podamos
                    interactuar entre las plataformas sociales y la web.
                </li>
                <li><strong>Cookies de análisis&nbsp;&nbsp;utma,&nbsp;utmb,&nbsp;utmc,&nbsp;utmx,&nbsp;utmz</strong>:
                    Sirven para estudiar el comportamiento de los usuarios de forma anónima al navegar por nuestra web.
                    Así podremos conocer los contenidos más vistos, el número de visitantes, procedencia de los mismos,
                    datos demográficos, etc. Una información que utilizaremos para mejorar la experiencia de navegación
                    y optimizar nuestros servicios. Estas cookies son de un tercero, Google Analytics, servicio&nbsp;que
                    es prestado por Google, Inc., entidad cuya oficina principal está en 1600 Amphitheatre Parkway,
                    Mountain View (California), CA 94043, Estados Unidos (“Google”).
                </li>
            </ul>

            <h3>Cómo administrar las cookies en los ordenadores</h3>
            <p>Su navegador también puede incluir la posibilidad de seleccionar con detalle
                las cookies que desea que se instalen en su ordenador. En concreto, el usuario puede normalmente
                aceptar alguna de las siguientes opciones:</p>
            <ul>
                <li>rechazar las cookies de determinados dominios;</li>
                <li>rechazar las cookies de terceros;</li>
                <li>aceptar cookies como no persistentes (se eliminan cuando el navegador se cierra);</li>
                <li>permitir al servidor crear cookies para un dominio diferente.</li>
            </ul>
            <p>Cómo configurar los navegadores:<br>
                Chrome, desde <a href="http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647"
                                 target="_blank">http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647</a><br>
                Explorer, desde <a
                        href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-ininternet-explorer-9"
                        target="_blank">http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-ininternet-explorer-9</a><br>
                Firefox, desde <a
                        href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we"
                        target="_blank">http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</a><br>
                Safari, desde <a href="http://support.apple.com/kb/ph5042" target="_blank">http://support.apple.com/kb/ph5042</a>
            </p>

            <p>Respecto de las cookies de terceros, es decir aquellas que son ajenas a
                nuestro sitio web, no podemos hacernos responsables del contenido y veracidad de las políticas de
                privacidad que ellos incluyen por lo que la información que le ofrecemos es siempre con referencia
                a la fuente. Es caso de dudas dirijase al webmaster del dominio creador de la cookie.</p>


            <p>Más información en la <a
                        href="http://www.agpd.es/portalwebAGPD/canaldocumentacion/publicaciones/common/Guias/Guia_Cookies.pdf"
                        target="_blank">guía de la AEPD sobre el uso de las cookies.</a></p>
        </div>
    </article>

{% endblock %}


