<div class="container">
    <hr>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>

<div id="cookieBanner">
    <div id="cookieBannerClose"><a href="#">x</a></div>
    www.onversus.com utiliza cookies propias y de terceros para su funcionamiento, para mantener la
    sesión y personalizar la experiencia del usuario, así como para obtener estadísticas anónimas de uso
    de la web.
    <div id="cookieBannerActions">
        <a class="noconsent" href="{{ path('cookies') }}">Para más información sobre las cookies utilizadas consulta nuestra POLÍTICA DE
            COOKIES</a>
        &mdash;
        <a class="denyConsent noconsent" href="#">Disallow cookies</a>
    </div>
</div>
