<!DOCTYPE html>
<html lang="es" {% block itemTagHtml %}{% endblock %}>
    <head>
        <title>{% block title %}{% endblock %}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="author" content="OnVersus">
        <meta name="description" content="{% block metaDescription %}{% endblock %}">
        <meta name="keywords" itemprop="keywords" content="{% block metaKeywords %}{% endblock %}" />

        {% block metas %}{% endblock %}
        {% block stylesheets %}{% endblock %}
        {% block javascriptsHead %}{% endblock %}
        {% block icons %}{% endblock %}
        {% block analytics %}{% endblock %}
    </head>
    <body id="page-top" class="index">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block javascriptsPage %}{% endblock %}
    </body>
</html>
